
  .section {
      padding: 40px 0;
  }
 
  img {
    width: 30;
    height: auto;
    margin-bottom: 10px;
}
 ul.contacto {
  display: inline-block;
  margin-right: 200px; 
 background-color: antiquewhite;
 overflow-x: auto;
 height: 100px;
 float: left
 }