.sellopersonal {
    margin: 30px; 
    padding: 30px; 
  }
  
.quien{
    text-align: justify;
    background-color: antiquewhite;
  }
 
  picture img {
    width: 200px;
    height: 150px;
    display: inline-flex;
  }