

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #F2F2F2;
    color: #000000;
}

header {
    background-color: #F2C1AE
    padding: 20px 0;
}

.inicio {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: #F24F13;
    color: #F2C1AE;
}
nav ul {
  text-align: center;
  display: inline-flex;
  margin: 30px; 
  background-color: #F24F13;
}

nav li {
  display: inline-flex;
  margin-right: 10px; 
  background-color: #F24F13;
}

nav a {
  text-decoration: none; 
  color: rgb(0, 0, 0); 
  font-weight: bold; 
  background-color: #F24F13;
  margin-right: 60px; 
}

nav a:hover { 
  color: #F24F13; 
  background-color: #F24F13;
  margin-right: 60px; 
}

h1 {
  color: #F24F13;
   text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
h2 {
    text-align: left;
    margin-bottom: 20px;    
}

.perfil{
  width: 200px;
  height: 150px;
  background-color: #F2C1AE;
  border: 2px solid #F24F13;
  margin: auto;
  display: block;
}

#botoninicio {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  padding: 10px 20px; 
  background-color: #F24F13; 
  color: rgb(0, 0, 0); 
  cursor: pointer; 
  opacity: 0.7; 
  transition: opacity 0.5s; 
}
#botoninicio { 
  opacity: 1; 
}
