html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; 
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  
  a {
    background-color: transparent;
  }
  
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  small {
    font-size: 80%;
  }

  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }

  
  img {
    border-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; 
    padding: 0;
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details {
    display: block;
  }

  
  summary {
    display: list-item;
  }

  
  template {
    display: none;
  }
  
  
  [hidden] {
    display: none;
  }

  h2 {
    font-size: 1.5em; /* Tamaño de fuente para h2 */
    margin: 0.83em 0; /* Márgenes para h2 */
}

h3 {
    font-size: 1.17em; /* Tamaño de fuente para h3 */
    margin: 1em 0; /* Márgenes para h3 */
}

p {
    margin: 1em 0; /* Márgenes para párrafos */
}

span {
    font-size: inherit; /* Tamaño de fuente igual al tamaño del padre */
    line-height: inherit; /* Altura de línea igual a la del padre */
}






:root {
    --color-text-primary: rgb(114, 198, 231);
    --color-text-secondary: #c5a6ee;
    --color-background-gradient-start: rgb(1, 30, 48);
    --color-background-gradient-middle: rgb(18, 2, 48);
    --color-background-gradient-end: rgb(32, 2, 11);
    --color-button-background: radial-gradient(rgb(61, 87, 238), rgb(16, 2, 22), rgb(22, 1, 26));
    --color-button-background-hover: radial-gradient(rgb(31, 36, 66), rgb(37, 11, 48), rgb(22, 1, 26));
    --color-overlay-background: rgba(0, 0, 0, 0.5);
    --color-card-background: rgba(107, 46, 165, 0.5);
    --color-border: rgb(200, 240, 177);}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span{
    color: var(--color-border);
    text-shadow: 3px 3px 3px var(--color-overlay-background);
}

p{
    color: var(--color-border);
}

h1 {
    color: var(--color-text-primary);
}


body {
    background: linear-gradient(var(--color-background-gradient-start), var(--color-background-gradient-middle), var(--color-background-gradient-end));
    font-family: 'Chakra Petch', sans-serif;
}

h3 {
    font-size: 25px;
    color: var(--color-text-secondary);
}

h2 {
    color: var(--color-text-secondary);
}

 


.container1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    margin-right: 10px;
    margin-top: 70px;
}

header {
    flex: 1;
    padding: 0 8px;
    margin-top: 35px;
}

main {
    overflow: hidden;
    margin-top: 30px;
}

.image1 img {
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}





.parte2 {
    flex: 1;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 90px;
}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 160px;
    margin-top: 20px;
}

.slider input {
    visibility: hidden;
    display: none;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    gap: 5px;
}

.buttons label {
    width: 25px;
    height: 25px;
    background: var(--color-button-background);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
}

.buttons label:hover {
    transform: scale(1.2);
    opacity: 1;
    background: var(--color-button-background-hover);
}

.slider input:nth-of-type(1):checked ~ .buttons label:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .buttons label:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .buttons label:nth-of-type(3) {
    opacity: 1;
    width: 33px;
}

.content {
    position: relative;
    width: 300vw;
    display: flex;
    transition: 400ms ease-in-out;
}

.firstslide,
.secondslide,
.thirdslide {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.firstslide {
    background-image: url('https://static.skillshare.com/uploads/video/thumbnails/c38251fc34fe43812b476c376c5d6945/original');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondslide {
    background-image: url('https://i.ytimg.com/vi/PRSyHTajxPk/maxresdefault.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdslide {
    background-image: url('https://blog.desafiolatam.com/wp-content/uploads/2023/05/Top-5-bibliotecas-React-para-desarrolladores-1024x682.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider input:nth-of-type(1):checked ~ .content {
    left: 0;
}

.slider input:nth-of-type(2):checked ~ .content {
    left: -100vw;
}

.slider input:nth-of-type(3):checked ~ .content {
    left: -200vw;
}




.container3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 30px;
}

.container3 header {
    margin-bottom: 20px;
}

.container3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container3 li.card {
    width: calc(33.333% - 20px);
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--color-card-background);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.contenido {
    padding: 10px;
}









* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container4 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 960px;
    margin: 30px auto;
    padding: 10px;
}

.parte {
    position: relative;
    padding: 22px;
    background-color: var(--color-card-background);
    border: 1px solid var(--color-border);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.parte img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
}

.parte:hover .text-overlay {
    opacity: 1;
}

footer {
    background: var(--color-overlay-background);
    padding: 20px;
    text-align: center;
}

@media (min-width: 600px) {
    .container4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .container4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}