@font-face {
    font-family: 'letra-portada';
    src: url(./assets/linkin-park-extrabold.ttf);
}

@font-face {
    font-family: 'letra-secundaria';
    src: url(./assets/metropolis-semibold.otf);
}

@font-face {
    font-family: 'letra-principal';
    src: url(./assets/saonara.otf);
}