@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
  font-family: "letra-portada";
  src: url(./assets/linkin-park-extrabold.ttf);
}
@font-face {
  font-family: "letra-secundaria";
  src: url(./assets/metropolis-semibold.otf);
}
@font-face {
  font-family: "letra-principal";
  src: url(./assets/saonara.otf);
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #171619;
  color: azure;
}

.container {
  background: linear-gradient(35deg, rgb(10, 10, 10) 0%, rgb(29, 31, 29) 34%, rgba(55, 57, 54, 0.9904412449) 60%, rgb(83, 87, 82) 74%, rgb(140, 147, 140) 88%);
  height: 694px;
  width: 550px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow: hidden;
}

header {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.item {
  position: absolute;
  text-align: left;
  padding: 5px;
}

#left-top :not(#gq), #left-bot, #right-top, #right-bot {
  width: 29%;
  z-index: 10;
}

#right-top, #right-bot {
  bottom: 80%;
  text-align: right;
}

#left-top :not(#gq, #british) {
  top: 3.6rem;
  left: 15%;
  line-height: 8px;
  position: relative;
}

#left-bot {
  bottom: 38%;
  left: 3%;
  position: absolute;
}

#right-bot {
  top: 14rem;
  right: 10rem;
  left: 75%;
  width: 20%;
}

#right-top {
  bottom: 30rem;
  width: 160px;
  left: 65%;
  position: absolute;
}

#lower-segment {
  top: 67%;
  z-index: 10;
  width: 480px;
  text-align: center;
  left: 2.6rem;
  position: absolute;
}

#bryan-cranston {
  z-index: 5;
  position: absolute;
  width: 48rem;
  top: -3rem;
  left: -6rem;
  filter: brightness(45%);
}

#gq {
  font-family: "letra-portada";
  font-size: 12rem;
  letter-spacing: -17px;
  font-weight: 100;
  top: 20px;
  left: -25px;
  position: absolute;
}

#british {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  font-weight: 900;
  position: relative;
  top: 3.5rem;
  left: 3.5rem;
}

#british-bg {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  font-weight: 800;
  filter: blur(2px);
}

#gentlemen {
  text-transform: uppercase;
  font-family: "letra-secundaria";
  font-size: 0.4rem;
  font-weight: bolder;
}

#june {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: #84d0f0;
  font-size: 0.5rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

#euro {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 2px;
}

h2 {
  font-family: "letra-principal";
  background-color: azure;
  color: black;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  width: 1;
  padding: 2px;
  margin: 3px;
  display: inline-block;
}

#rupert {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

#alastair {
  font-family: "letra-secundaria";
  font-size: 0.8rem;
  text-transform: uppercase;
}

#alex, #rematch {
  font-family: "letra-secundaria";
  font-size: 2.3rem;
}

#cobra-saint {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  font-weight: bolder;
}
#cobra-saint #vs {
  font-size: 0.4rem;
}

#cfgg {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}

#and {
  font-family: "letra-principal";
  font-size: 1.1rem;
  font-weight: 200;
  text-transform: lowercase;
  font-style: italic;
  color: azure;
}

#oat {
  font-family: "letra-principal";
  font-size: 1.2rem;
  font-weight: 200;
}

#bbf {
  text-transform: uppercase;
}

#interview, #story-b {
  font-family: "letra-secundaria";
  font-size: 0.3rem;
  text-transform: uppercase;
}

#paul-henderson, #stuart-m, #norman-j {
  font-size: 0.5rem;
  font-weight: 100;
}

#n24 {
  font-family: "letra-principal";
  font-size: 2.5rem;
}

#page {
  font-family: "letra-secundaria";
  font-size: 0.7rem;
  text-transform: uppercase;
}

#watch-guide {
  color: #84d0f0;
  font-family: "letra-secundaria";
  font-size: 1.6rem;
  font-weight: 900;
}

#brands {
  font-family: "letra-secundaria";
  font-size: 0.8rem;
  text-transform: uppercase;
}

#bmr {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.7;
}

#rising {
  color: azure;
}

#hollywood {
  font-family: "letra-principal";
  font-size: 1.4rem;
  font-weight: 200;
}

#bryanc {
  color: #84d0f0;
  font-family: "letra-secundaria";
  font-size: 1.3rem;
  font-weight: 900;
}/*# sourceMappingURL=styles.css.map */