@import "./base/fonts";
@import "./base/palletes";
@import "./base/reset";

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #171619;
    color: $primary-color;
}

.container {
    background: $background-gradient;
    height: 43rem;
    width: 34rem;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow: hidden;
}

.container__header {
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.item {
    position: absolute;
    text-align: left;
    padding: 5px;
}

.container__header--left-top :not(.container__header-title), .container__politics--left-bot, .container__boxing--right-top, .container__change--right-bot {
    width: 29%;
    z-index: 10;
}

.container__boxing--right-top, .container__change--right-bot {
    bottom: 80%;
    text-align: right;
}

.container__header--left-top :not(.container__header-title, .container__header-british) {
    top: 3.6rem;
    left: 15%;
    line-height: 0.5rem;
    position: relative;
}

.container__politics--left-bot {
    bottom: 38%;
    left: 3%;
    position: absolute;
}

.container__change--right-bot {
    top: 14rem;
    right: 10rem;
    left: 75%;
    width: 20%;
}

.container__boxing--right-top {
    bottom: 30rem;
    width: 10rem;
    left: 65%;
    position: absolute;
}

.container__bmr--lower-segment {
    top: 67%;
    z-index: 10;
    width: 30rem;
    text-align: center;
    left: 2.6rem;
    position: absolute;
}

.container__image-bryan-cranston {
    z-index: 5;
    position: absolute;
    width: 48rem;
    top: -3rem;
    left: -6rem;
    filter: brightness(70%);
}

.container__header-title {
    font-family: 'letra-portada';
    font-size: 12rem;
    letter-spacing: -17px;
    font-weight: 100;
    top: 20px;
    left: -25px;
    position: absolute;
}

.container__header-british {
    font-family: 'letra-secundaria';
    text-transform: uppercase;
    color: $text-color;
    font-size: 0.7rem;
    font-weight: 900;
    position: relative;
    top: 3.5rem;
    left: 3.5rem;
}

.container__header-british-bg {
    font-family: 'letra-secundaria';
    text-transform: uppercase;
    color: $text-color;
    font-size: 0.7rem;
    font-weight: 800;
    filter: blur(2px);
}

.container__header-gentlemen {
    text-transform: uppercase;
    font-family: 'letra-secundaria';
    font-size: 0.4rem;
    font-weight: bolder;
}

.container__header-june {
    font-family: 'letra-secundaria';
    text-transform: uppercase;
    color: $secondary-color;
    font-size: 0.5rem;
    letter-spacing: 2px;
    font-weight: bolder;
}

.container__header-euro {
    font-family: 'letra-secundaria';
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 2px;
}

h2 {
    font-family: 'letra-principal';
    background-color: $primary-color;
    color: $text-color;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: bolder;
    width: 1;
    padding: 2px;
    margin: 3px;
    display: inline-block;  
}

.container__politics-rupert {
    color: $secondary-color;
    font-family: 'letra-principal';
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container__politics-alastair {
    font-family: 'letra-secundaria';
    font-size: 0.8rem;
    text-transform: uppercase;
}

.container__politics-alex, .container__boxing-rematch {
    font-family: 'letra-secundaria';
    font-size: 2.3rem;
}

.container__boxing-cobra-saint {
    font-family: 'letra-secundaria';
    text-transform: uppercase;
    color: $text-color;
    font-size: 0.7rem;
    font-weight: bolder;
}

.container__boxing-vs {
    font-size: 0.4rem;
}

.container__boxing-cfgg {
    color: $secondary-color;
    font-family: 'letra-principal';
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.container__boxing-and {
    font-family: 'letra-principal';
    font-size: 1.1rem;
    font-weight: 200;
    text-transform: lowercase;
    font-style: italic;
    color: $primary-color;
}

.container__boxing-oat {
    font-family: 'letra-principal';
    font-size: 1.2rem;
    font-weight: 200;
}

.container__boxing-bbf {
    text-transform: uppercase;
}

.container__boxing-interview, .container__bmr-story {
    font-family: 'letra-secundaria';
    font-size: 0.3rem;
    text-transform: uppercase;
}

.container__boxing-paul-henderson, .container__bmr-stuart-m, .container__bmr-norman-j {
    font-size: 0.5rem;
    font-weight: 100;
}

.container__change-n24 {
    font-family: 'letra-principal';
    font-size: 2.5rem;
}

.container__change-page {
    font-family: 'letra-secundaria';
    font-size: 0.7rem;
    text-transform: uppercase;
}

.container__change-watch-guide {
    color: $secondary-color;
    font-family: 'letra-secundaria';
    font-size: 1.6rem;
    font-weight: 900;
}

.container__change-brands {
    font-family: 'letra-secundaria';
    font-size: 0.8rem;
    text-transform: uppercase;
}

.container__bmr-title {
    color: $secondary-color;
    font-family: 'letra-principal';
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0.7;
}

.container__bmr-rising {
    color: $primary-color;
}

.container__bmr-hollywood {
    font-family: 'letra-principal';
    font-size: 1.4rem;
    font-weight: 200;
}

.container__bmr-bryanc {
    color: $secondary-color;
    font-family: 'letra-secundaria';
    font-size: 1.3rem;
    font-weight: 900;
}
