body{
    background: linear-gradient(90deg, #1f7daf 0%, #85D8CE 100%);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  
}

h1{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 68, 37);
}

p{
    font-family: "Raleway", sans-serif;
    text-align: center;
}

h3{
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-weight: bold;
}

.imag{
    border: 5px;
    border-style: groove;
    border-color: khaki;
    padding: 5px;
}

.container{
    font-family: "Raleway", sans-serif;
    text-align: center;
}