body{
    background-color: lightgreen;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 68, 37);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
}

.imag{
    border: 5px;
    border-style: groove;
    border-color: khaki;
    padding: 5px;
}