
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..800&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*list-style: none;*/
}



header{
    width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), 
        url(./foto-cerezos.jpeg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50vh; /*El tamaño*/
    display: flex;
    align-items: center;
    width: 105%;
    
}

.presentacion{
    /*position: absolute;*/
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.imagen-1{
    width: 290px; 
    /*border-radius: 100px;*/
    border-radius: 50px;
    position: relative;
    left: 860px; /* Mueve horizontalmente */
    margin: 10px 0 25px 0 ; /*A, D,B I*/
    top: 0; /* Mueve verticalemnte*/
}

h1{
    font-size: 40px;
    font-weight: 800;
    color: palevioletred;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px;
}
#prueba{
    position:relative;
}
.texto-presentacion{
    font-size: 24px;
    left: 60px;  /*Mueve horizontalmente*/
    top: 120px;/*Verticalmente*/
    width: 680px; /*El ancho */
    position:   absolute; 
    padding: 250 250px;
    margin-bottom: 18px;
}

.nodo{
    padding: 40px;
    background-color: #E1E2E6;
    width: 100%;
    min-height: 25vh;
    margin: 20px 0 0 0;
}

h2{
    font-size: 30px;
    font-weight: 500;
    color: rgb(216, 112, 131);
    letter-spacing: 1px;
    margin: 0 0 9px 0;
    text-align: center;
    text-transform: uppercase;
}
.texto-nodo{
    font-size: 20px;
    /*left: 190px;  /*Mueve horizontalmente*/
    /*top: 550px;/*Verticalmente*/
    /*idth: 680px; /*El ancho */
    position: absolute;
    padding: 250 250px;
    /*text-justify: center;*/
    margin: 12px 0 10px 0; /*A, D,B I*/

}

/*Carrusel de metas*/
.carrousel{
    width: 100%;
    margin: 50px 0 50px 0; /*A, D,B I*/
}

h3{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0 0 9px 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
}

.itemCarrousel p{
    font-size: 26px;
    font-weight: 400;
    /*text-transform: uppercase;
    letter-spacing: 1px;*/
    text-align: center;
    margin: 80px 18px 0 18px; /*A, D,B I*/
    
    
}

.conteCarrousel{
    width: 40%;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

/*.itemCarrouselArrows > i:hover {
    cursor: pointer;
}*/

#itemCarrousel-1{
    background-color: rgb(153, 206, 244) ;
}

#itemCarrousel-2{
    background-color: plum;
}

#itemCarrousel-3{
    background-color: pink;
}

#itemCarrousel-4{
    background-color: rgb(255, 225, 172);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.itemCarrouselArrows > a > i{
    color: white;
}

/*Grid*/
.conteHobbies{
    position: relative;
    left: 50%;
    transform: translate(-20%, 0);
    margin: 20px 0 20px 0; /*A, D,B I*/
}
.hobbies{
    display: grid;
    grid-template-columns: 300px 250px;
    grid-template-rows: auto 80px;
    gap: 1em;
    width: 100%;
    margin: 20px 0 20px 0; /*A, D,B I*/
    
}

h5{
    position: relative;
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    /*text-align: center;*/
    left: 200px;
    color: rgb(66, 65, 65);

}

.hobbies h{
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 9px;
    text-align: center;
}

.hobbies p{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 9px;
    text-align: center;
}

.hobbies div {
    background: pink;
    
}
.hobbies div:hover {
    border: 1px solid plum;
}

.listaDeseos {
    margin: 20px 0 9px 0; /*A, D,B I*/
}

h4{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(71, 71, 71);
    margin: 0 20px 9px 0; /*A, D,B I*/
}

.listaDeseos  li {
    font-size: 20px;
    font-weight: 200;
    margin: 0 10px 9px 0; /*A, D,B I*/
}

.footer {
    position: relative;
    width: 100%;
    background-color: blanchedalmond;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 65px 0 0 0;
    left: 60px;
    
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.icon-elem{
    list-style: none;
    margin: 0 5px;
}

.icon{
    font-size: 30px;
    display: inline-block;
}

