//Typography variables

$fonts: (
  masthead: (
    family: "ScoutCondensed",
    weight: 900,
  ),
  headlines: (
    family: "Scout",
    weight: 700,
  ),
  coverline: (
    family: "Scout",
    weight: 900,
  ),
  taglines: (
    family: "Scout",
    weight: 400,
  ),
);

//Color palette

$color-blue: #0067ba;
$color-darkblue: #263249;
$color-black: #21201c;
$color-gray: #60625a;
$color-red: #ff0000;
$color-yellow: #d0d659;
$color-white: #e1dcd2;
