@import 'https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@100;300;400;700;900&display=swap');

nav{
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Castoro', 'Times New Roman', Times, serif;
}

h3, p{
    font-family: 'Anton', sans-serif;
}

.main-cover-line p{
    font-family: 'Nokora', sans-serif;
}

h2{
    font-family: 'Bowlby';
}
