// color de fondo
$color1: rgb(130, 70, 77);
$color2: rgb(169, 126, 123);

// color de título
$title: rgb(237,192,186);

// color de subtitulos
$subtitle: rgb(238,190,188);

// color de frases
$phrases: rgb(255, 255, 255);






