html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "letra-portada";
  src: url(../assets/fonts/linkin-park-extrabold.ttf);
}
@font-face {
  font-family: "letra-secundaria";
  src: url(../assets/fonts/metropolis-semibold.otf);
}
@font-face {
  font-family: "letra-principal";
  src: url(../assets/fonts/saonara.otf);
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #171619;
  color: azure;
}

.container {
  background: linear-gradient(35deg, rgb(10, 10, 10) 0%, rgb(29, 31, 29) 34%, rgba(55, 57, 54, 0.9904412449) 60%, rgb(83, 87, 82) 74%, rgb(140, 147, 140) 88%);
  height: 43rem;
  width: 34rem;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  overflow: hidden;
}

.header--left-top :not(h1), .politics--left-bot, .boxing--right-top, .change--right-bot {
  width: 29%;
  z-index: 10;
}

.boxing--right-top, .change--right-bot {
  bottom: 80%;
  text-align: right;
}

.politics--left-bot {
  bottom: 38%;
  left: 3%;
  position: absolute;
}

.change--right-bot {
  top: 14rem;
  right: 10rem;
  left: 75%;
  width: 20%;
}

.boxing--right-top {
  bottom: 30rem;
  width: 10rem;
  left: 65%;
  position: absolute;
}

.bmr--lower-segment {
  top: 67%;
  z-index: 10;
  width: 30rem;
  text-align: center;
  left: 2.6rem;
  position: absolute;
}

.image-bryan-cranston {
  z-index: 5;
  position: absolute;
  width: 48rem;
  top: -3rem;
  left: -6rem;
  filter: brightness(70%);
}

header {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}

.item {
  position: absolute;
  padding: 5px;
}

.header--left-top h1 {
  font-family: "letra-portada";
  font-size: 12rem;
  letter-spacing: -17px;
  font-weight: 100;
  top: 20px;
  left: -25px;
  position: absolute;
}

.header--left-top > span:first-of-type {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  font-weight: 900;
  position: absolute;
  top: 4.5rem;
  left: 4rem;
}

.header-magazine-info {
  line-height: 0.5rem;
  width: 100rem;
  position: absolute;
  text-transform: uppercase;
  font-family: "letra-secundaria";
  font-weight: bolder;
  top: 9rem;
  left: 1rem;
}
.header-magazine-info span:first-of-type {
  font-size: 0.4rem;
}
.header-magazine-info span:nth-of-type(2) {
  color: #84d0f0;
  font-size: 0.5rem;
  letter-spacing: 2px;
}
.header-magazine-info span:last-of-type {
  font-size: 0.5rem;
  letter-spacing: 2px;
}

h2 {
  font-family: "letra-principal";
  background-color: azure;
  color: black;
  font-size: 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  width: 1;
  padding: 2px;
  margin: 3px;
  display: inline-block;
}

.politics-rupert {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.politics-alastair {
  font-family: "letra-secundaria";
  font-size: 0.8rem;
  text-transform: uppercase;
}

.politics-alex, .boxing-rematch {
  font-family: "letra-secundaria";
  font-size: 2.3rem;
}

.boxing-cobra-saint {
  font-family: "letra-secundaria";
  text-transform: uppercase;
  color: black;
  font-size: 0.7rem;
  font-weight: bolder;
}

.boxing-vs {
  font-size: 0.4rem;
}

.boxing-cfgg {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.boxing-and {
  font-family: "letra-principal";
  font-size: 1.1rem;
  font-weight: 200;
  text-transform: lowercase;
  font-style: italic;
  color: azure;
}

.boxing-oat {
  font-family: "letra-principal";
  font-size: 1.2rem;
  font-weight: 200;
}

.boxing-bbf {
  text-transform: uppercase;
}

.boxing-interview, .bmr-story {
  font-family: "letra-secundaria";
  font-size: 0.3rem;
  text-transform: uppercase;
}

.boxing-paul-henderson, .bmr-stuart-m, .bmr-norman-j {
  font-size: 0.5rem;
  font-weight: 100;
}

.change-n24 {
  font-family: "letra-principal";
  font-size: 2.5rem;
}

.change-page {
  font-family: "letra-secundaria";
  font-size: 0.7rem;
  text-transform: uppercase;
}

.change-watch-guide {
  color: #84d0f0;
  font-family: "letra-secundaria";
  font-size: 1.6rem;
  font-weight: 900;
}

.change-brands {
  font-family: "letra-secundaria";
  font-size: 0.8rem;
  text-transform: uppercase;
}

.bmr-title {
  color: #84d0f0;
  font-family: "letra-principal";
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 0.7;
}

.bmr-rising {
  color: azure;
}

.bmr-hollywood {
  font-family: "letra-principal";
  font-size: 1.4rem;
  font-weight: 200;
}

.bmr-bryanc {
  color: #84d0f0;
  font-family: "letra-secundaria";
  font-size: 1.3rem;
  font-weight: 900;
}

/*# sourceMappingURL=style.css.map */
