@use "../_base/variables" as *;
.cover {
  position: relative;
  background-color: $color-paper;
  width: 100%;
  text-transform: uppercase;
  width: min-content;
  overflow: hidden;
  .img-cover {
    align-items: center;
    position: absolute;
    width: 120%;
    top: 0;
    left: -140px;
  }
}
