@font-face {
    font-family: 'letra-portada';
    src: url(../assets/fonts/linkin-park-extrabold.ttf);
}

@font-face {
    font-family: 'letra-secundaria';
    src: url(../assets/fonts/metropolis-semibold.otf);
}

@font-face {
    font-family: 'letra-principal';
    src: url(../assets/fonts/saonara.otf);
}