.portada h1 {
    color: #f7f7f7;
    font: lighter;
    font-family: 'Lucida Sans Unicode';
}

.portada p {
    color: #adadad;
    font-size:x-large;
    font-family: Tahoma;
    margin-left: 8%;
    margin-right: 30%;
    text-align: justify;
}

#contacto h1{
    color: rgb(187, 187, 234);
}
#contacto p{
    color:antiquewhite;
}

h1 {
    text-align: center;
    color: #0f1111;
    font-family: sans-serif;
    
}

h2 {
    color: #0f0e0d
}

p {
    color: #050b0f;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}