#img-yo {
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    float: inline-end;
    margin-right: 25%;
    border-radius: 80px;
}

#contacto img {
    max-width: 30px;
    max-height: 30px;
}

.carrusel-items li img {
    max-height: 100px;
}