@import url("fonts.css");
/*@import url(https://meyerweb.com/eric/tools/css/reset/reset.css); 
    Profe, ese reset me dañó la página completa :(
    Yo voy a dejar eso comentado mejor.*/
@import url("carousel.css");
@import url("images.css");
@import url("navbar.css");
@import url("container.css");



/* PORTADA */
.portada {
    background: linear-gradient(to bottom, rgb(20, 12, 46), #090908, #1f1b23);
    height: 300px;
    width: 100%;
    margin: 0;
}

/* CUERPO */
body {
    background: linear-gradient(to bottom, #e3e3f6, #b7d9ff, #e3e3f6);
    height: 100vh;
    margin: 100px, 100px, 100px, 100px;
    font-family: Arial, sans-serif;
}

section {
    margin: 50px 5%;
}

#metas {
    margin-left: 40%;
}


/* SEPARADOR */
hr {
    border: 2px;
    height: 2px;
    background-color: #ccc;
}

/* FOOTER */
footer {
    background: linear-gradient(to left, #002f61, #030016);
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}