:root {
    --background: rgb(105, 140, 255);
    --margin: rgb(255, 246, 113);
    --fontscolor1: rgb(255, 246, 113);
    --fontscolor2: rgb(255, 255, 255);
    --footer: rgb(48, 47, 47);
    --pane-padding: 5px 42px;
    --fonttype: sans-serif;
  }
body {
   
   
    padding: 5 0 0;
    margin: 5px;
    border: var(--margin) 30px solid;
    background: var(--background)
    
}

	
header {
    color: var(--fonts1)
    padding: 1em 0 0;
    text-align: center;
}

h1 ,h2,h3{
    font-family: var(--fonttype)
    font-size: 103px;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

article {
    flex: 2;
    text-align: center;
}

article img{
    width: 400PX;
    height: auto;
    margin-bottom: 1em;
}
img{
width: 100%;
height: auto;
margin-bottom: 1em;
}

h2 {
    display:block
    width: 300px; 
    height: auto;
    color: var(--fontscolor1)
    margin-bottom: 0.5em;
}

p {
    text-align: justify;
    line-height: 1.5;
}

aside {
    background-color: var(--margin);
    flex: 0.5;
    padding: 1em;
    position::relative;
    height: 100%;
    padding: 0 3.5em 0;
    
}



a {
    text-decoration: none;
    color: var(--fontscolor2)
}

footer {
    color: var(--fontscolor2)
    padding: 1em 0 0;
}
