@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url(https://db.onlinewebfonts.com/c/7bacd473607bdcd8da9744c5618a8a9e?family=AWConquerorDidot-Light);
font-family: "AWConquerorDidot-Light";

@import url(https://db.onlinewebfonts.com/c/23dbd316c50b96ea08e5ceb5d66ec03b?family=Bell+MT+Std+Italic);
font-family: "Bell MT Std Italic";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 0.2;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Vogue";
  src: url("../assets/fonts/Vogue.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
.Red-style,
.headlines--red-style {
  color: #b90c00;
  line-height: 0.01;
  font-size: 3.8rem;
  font-family: "AWConquerorDidot-Light";
  letter-spacing: 0.5em;
}
.italic-style,
.headlines--italic-style {
  color: #000000;
  line-height: 0.5;
  font-size: 0.8rem;
  font-family: "Bell MT Std Italic";
  letter-spacing: 0.09em;
  text-transform: none;
}
.edition-style,
.headlines--edition-style {
  color: #000000;
  line-height: 0.1;
  font-size: 0.5rem;
  letter-spacing: 0.1em;
  text-transform: none;
}
/**
 // Metodología BEM
 .block {
   &__entity {...}

	 &__entity {
	   &--modifier {...}
	 }

	 &--modifier {...}

	 .block__entity

	 .block--modifier

	 .block__entity--modifier
**/
.headlines {
  display: grid;
  font-weight: bolder;
  grid-row-gap: 9cap;
}

.magazine {
  background-color: #ffffff;
  background: linear-gradient(#ffffff);
  color: #000000;
  text-transform: uppercase;
  width: min-content;
  height: 100%;
}
.magazine__title {
  font-size: 9.5rem;
  text-align: center;
  font-family: "Vogue", "Times New Roman", Times, serif;
  line-height: 0.3;
  position: relative;
  z-index: 0;
}
.magazine__title span {
  position: relative;
}
.magazine__title span:first-of-type {
  z-index: 3;
}
.magazine__title span:last-of-type {
  z-index: 1;
}
.magazine img {
  position: absolute;
  z-index: 2;
  left: -1.5rem;
  top: 0.2rem;
  width: 28rem;
}
.magazine > article {
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 80;
  display: flex;
  justify-content: center;
}

.first_section {
  position: relative;
  z-index: 3;
  left: 0.5rem;
  top: -4rem;
  width: 28rem;
}
.second_section {
  position: relative;
  z-index: 3;
  top: 9rem;
  width: 45%;
  font-style: italic;
  padding-left: 20px;
}
#one {
  text-align: left;
}
#two {
  text-align: right;
}
#three {
  text-align: center;
}
.last_section {
  position: relative;
  z-index: 3;
  bottom: -3.5rem;
  width: 28rem;
}
