

:root {
   background-color: rgb(180, 246, 224);
    --primary-color: #333;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: var(--primary-color);
    color: var(--text-color);
    padding: 1rem 0;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
}

nav menu {
    list-style: none;
    padding: 0;
}

nav menu li {
    display: inline;
    margin: 0 10px;
}

nav menu li a {
    color: var(--text-color);
    text-decoration: none;
}

.image-container, .image-container1, .image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.image-container img {
    border-radius: 50%;
    max-width: 450px;
    height: auto;
}

.image-container1 img, .image-container2 img {
    max-width: 200px;
    height: auto;
}

.image-container2 {
    gap: 20px;
}


h1, h2, p {
    text-align: center;
    padding: 0 20px;
}

footer {
    background: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
}
