

#main {
  width: 100%;
  height: 80rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

#LogoNodo {
  height: 20%;
  width: 20%;
}

#Home {
  background: fixed;
  background-image: url(../assets/Backgrounds/cool-background\ \(2\).png);
  background-size: 100%;
  padding: 2rem;
}

#Home h1 {
  background: linear-gradient(90deg, #00f7ff, #f0a206);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8rem;
  font-style: oblique;
}


#Bold{
    color:#20e2e9
}

#MiPerfilJPG{
    width: 35%;
    height: 35%;
}


#Intro-Parraf {
    font-family: 'MiFuente', sans-serif; /* Aplica la fuente personalizada */
    font-size: 1.3rem; 
    color: aliceblue;
  }


