#my-laboral-experience {
  padding: 1rem;
  background: var(--color-bg2);
  background-size: 200% 200%;
  animation: movimiento 15s linear infinite;
  padding-left: 2rem;
  color: var(--color-textp);
}

#my-laboral-experience h2{
  font-size: 2.5rem;
  color: var(--color-h2);
}
#my-laboral-experience p {
  font-size:  1.2rem;
  color: var(--color-textp);
}

@keyframes movimiento {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}