#MyLaboralExperience {
  padding: 1rem;
  background: linear-gradient(to right, #2196F3 0%, #a60368 100%);
  background-size: 200% 100%;
  animation: movimiento 10s linear infinite;
}
#MyLaboralExperience h2{
  font-size: 2.5rem;
}
#MyLaboralExperience p {
  font-size:  1.2rem;
  color: bisque;
}


@keyframes movimiento {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}