:root {
    --background:linear-gradient(90deg, #00f7ff, #f0a206); ;
}

@import url("https://meyerweb.com/eric/tools/css/reset/reset.css2");

@font-face {
    font-family: 'MiFuente';
    src: url(../assets/Typography/RobotoCondensed/roboto-condensed-cyrillic-600-normal.ttf);
}


#music-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: bisque;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  #music-button:hover {
    background-color: darksalmon;
  }
  
.row {
    height: 100%; /* Asegúrate de que la fila ocupe todo el alto */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
  }