$color-yellow: rgb(221, 170, 28);
$color-blue: rgb(64, 133, 160);
$color-font-white: rgb(255, 255, 255);
$color-font-yellow: rgb(228, 174, 35);
$color-font-blue: rgb(104, 186, 198);
$color-font-black: rgb(15, 6, 0);
$color-border:rgb(119, 191, 214);
$backgraund-color:rgb(47, 108, 129);
