@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  max-width: 80rem;
  min-width: 12rem;
  height: 100vh;
  margin: 0 auto; }

.container {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #2f6c81;
  background: linear-gradient(0deg, #68bac6, #043142);
  border: 30px solid #e4ae23; }
  .container .heading,
  .container .content,
  .container .athletes {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%; }
  .container .heading h1 {
    font-size: 18rem;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 800;
    text-align: center;
    margin: 0; }
  .container .heading .title {
    position: absolute;
    top: 30px;
    left: 800px;
    font-size: 1.5rem;
    color: white;
    font-family: "Roboto", serif;
    margin: 0; }
  .container .heading .floyd {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    text-align: center;
    justify-content: center; }
    .container .heading .floyd .column1,
    .container .heading .floyd .column2,
    .container .heading .floyd .column3 {
      width: 33%; }
    .container .heading .floyd .column1 {
      height: 420px;
      display: block;
      flex-direction: row-reverse;
      flex-flow: wrap;
      text-align: center;
      justify-content: center;
      overflow: visible;
      color: white;
      font-family: "Oswald", sans-serif; }
    .container .heading .floyd .column2 {
      height: 420px;
      display: block;
      flex-direction: row-reverse;
      flex-flow: wrap; }
    .container .heading .floyd .column3 {
      height: 420px;
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      align-items: center;
      text-align: center;
      justify-content: center;
      overflow: visible;
      font-family: "Bebas Neue", sans-serif; }
      .container .heading .floyd .column3 .box {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #e4ae23; }
        .container .heading .floyd .column3 .box .floyd {
          margin-top: -50px;
          width: 150px; }
        .container .heading .floyd .column3 .box .line {
          width: 100%;
          height: 2px;
          border: none;
          background-color: black;
          align-items: center; }
        .container .heading .floyd .column3 .box .athlete {
          font-size: 1rem;
          color: white;
          text-align: center; }
  .container .objects h2 {
    color: #e4ae23;
    font-size: 7rem;
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-shadow: 1px 1px 1px black; }
  .container .objects span {
    font-size: 11rem;
    font-family: "Oswald", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black; }
  .container .objects p {
    font-size: 3.5rem;
    font-family: "Oswald", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black; }
  .container .objects .last {
    font-size: 3.5rem;
    color: #68bac6;
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px black; }
  .container .objects {
    margin-bottom: 1rem;
    text-align: center;
    box-sizing: border-box; }

.objects {
  position: relative;
  z-index: 3; }

.heading {
  position: relative;
  z-index: 1; }

.main {
  max-width: 1000px;
  min-width: none; }

.cristiano {
  position: absolute;
  bottom: 0;
  top: 210px;
  z-index: 2;
  width: 93.5vw;
  height: 81vw;
  display: block;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%); }

/*# sourceMappingURL=styles.css.map */
