@import 'sass/fonts.scss';
@import 'sass/variables.scss';
@import 'sass/pallete.scss';
@import 'sass/reset.scss';


body {

    max-width: 80rem;
    min-width: 12rem;
    height: 100vh;
    margin: 0 auto;

}

.container {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: $backgraund-color;
    background: linear-gradient(0deg, $color-font-blue , rgb(4, 49, 66));
    border: 30px solid $color-font-yellow;

    .heading,
    .content,
    .athletes {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: 100%;
    }

    .heading {
        h1 {
            
            font-size: 18rem;
            color: $color-font-white;
            font-family: $font-familiy-title;
            font-weight: 800;
            text-align: center;
            margin: 0;
        }

        .title {
            position: absolute;
            top: 30px;
            left: 800px;
            font-size: 1.5rem;
            color: $color-font-white;
            font-family: $font-familiy-secundaria;
            margin: 0;
        }

        .floyd {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;

            .column1,
            .column2,
            .column3 {
                width: 33%;
            }

            .column1 { 
                height: 420px;
                display: block;
                flex-direction: row-reverse;
                flex-flow: wrap;
                text-align: center;
                justify-content: center;
                overflow: visible;
                color: $color-font-white;
                font-family: $font-family-content;
            }

            .column2 {
                height: 420px;
                display: block;
                flex-direction: row-reverse;
                flex-flow: wrap;
            }

            .column3 {
                height: 420px;
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                align-items: center;
                text-align: center;
                justify-content: center;
                overflow: visible;
                font-family: $font-family-athlete;



                .box {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background: $color-font-yellow;



                    .floyd {
                        margin-top: -50px;
                        width: 150px;

                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        border: none;
                        background-color: black;
                        align-items: center;
                    }

                    .athlete {
                        font-size: 1rem;
                        color: $color-font-white;
                        text-align: center;

                    }
                }
            }
        }
    }


    .objects {
        

        h2 {
            color: $color-font-yellow;
            font-size: 7rem;
            text-align: center;
            font-family: $font-family-content;
            text-shadow: 1px 1px 1px black;
        }

        span {
            font-size: 11rem;
            font-family: $font-family-content;
            color: $color-font-white;
            text-shadow: 1px 1px 1px black;
        }

        p {
            font-size: 3.5rem;
            font-family: $font-family-content;
            color: $color-font-white;
            text-shadow: 1px 1px 1px black;
        }

        .last {
            font-size: 3.5rem;
            color: $color-font-blue;
            font-family: $font-family-content;
            text-align: center;
            text-shadow: 1px 1px 1px black;
        }
    }

    .objects {
        margin-bottom: 1rem;
        text-align: center;
        box-sizing: border-box
        
    }
}
.objects {
    position: relative;
    z-index: 3;

}
.heading {
    position: relative;
    z-index: 1;
}
.main{
    max-width: 1000px;
    min-width: none;
}
.cristiano {
    position: absolute;
    bottom: 0;
    top: 210px;
    z-index: 2;
    width: 93.5vw;
    height: 81vw;
    display: block; 
    margin: 0 auto;
    
    left: 50%;
    transform: translateX(-50%);
    
}

