@import 'sass/fonts.scss';
@import 'sass/variables.scss';
@import 'sass/pallete.scss';
@import 'sass/reset.scss';


body {

    max-width: 80rem;
    min-width: 12rem;
    height: 100vh;
    margin: 0 auto;

}

.container {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: $color-font-blue;
    background: linear-gradient(0deg, $color-font-blue , rgb(4, 49, 66));
    border: 30px solid $color-font-yellow;

    .heading,
    .content,
    .athletes {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        width: 100%;
        height: 100%;
    }

    .heading {
        h1 {
            font-size: 15rem;
            color: $color-font-white;
            font-family: $font-familiy-principal;
            font-weight: 800;
            text-align: center;
            margin: 0;
        }

        .title {
            position: absolute;
            top: 30px;
            left: 800px;
            font-size: 1rem;
            color: $color-font-white;
            font-family: Arial, Helvetica, sans-serif;
            //text-align: right;
            margin: 0;
        }

        .floyd {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            align-items: center;
            text-align: center;
            justify-content: center;

            .column1,
            .column2,
            .column3 {
                width: 33%;
            }

            .column1 {
                height: 420px;
                display: block;
                flex-direction: row-reverse;
                flex-flow: wrap;
                align-items: left;
                text-align: center;
                justify-content: center;
                overflow: visible;
                color: $color-font-white;
            }

            .column2 {
                height: 420px;
                display: block;
                flex-direction: row-reverse;
                flex-flow: wrap;
                align-items: left;
                text-align: center;
                justify-content: center;
                color: $color-font-white;
            }

            .column3 {
                height: 420px;
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                align-items: center;
                text-align: center;
                justify-content: center;
                overflow: visible;



                .box {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    background: $color-font-yellow;



                    .floyd {
                        margin-top: -50px;
                        width: 150px;

                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        border: none;
                        background-color: black;
                        align-items: center;
                    }

                    .athlete {
                        font-size: 1rem;
                        color: $color-font-white;
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;

                    }
                }
            }
        }
    }


    .athletes {

        h2 {
            color: $color-font-yellow;
            font-size: 5rem;
            text-align: center;
        }

        span {
            font-size: 9rem;
            font-family: 'Courier New', Courier, monospace;
            color: $color-font-white;
        }

        p {
            font-size: 3rem;
            font-family: 'Courier New', Courier, monospace;
            color: $color-font-white;
        }

        .last {
            font-size: 2.2rem;
            color: $color-font-blue;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;

        }
    }

    .athletes {
        margin-bottom: 1rem;
        text-align: center;
        box-sizing: border-box
    }
}

.heading {
    position: relative;
    z-index: 1;
}
.main{
    max-width: 1000px;
}
.cristiano {
    top: 210px;
    z-index: 2;
    width: 71.3rem;
    height: 56.5rem;
    display: block; 
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.athletes {
    position: relative;
    z-index: 3;

}