#my-motivation :first-child {
  text-align: justify;
}
#my-motivation dt {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-style: italic;
}

#my-motivation dd {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

dd {
  list-style-position: outside;
  list-style-type: square inside url(../utils/favicon/favicon-nodo.ico);
 
  padding: 15px;
}
