
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';  

@font-face {
  font-family: 'PlayStation';
  src: url('/diegolsg/2-preprocessor-sass/assets/fonts/zrnic\ rg.otf');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'marvel';
  src: url('/diegolsg/2-preprocessor-sass/assets/fonts/MarvelRegular-Dj83.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'spider-man';
  src: url('/diegolsg/2-preprocessor-sass/assets/fonts/Spider-Man.otf');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'ps';
  src: url('/diegolsg/2-preprocessor-sass/assets/fonts/TheRaveIsInYourPants-YxxO.ttf');
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'roboto';
  src: url('/diegolsg/2-preprocessor-sass/assets/fonts/EmotionEngineBold-YGnL.ttf');
  font-weight: 200;
  font-display: swap;
}