$color-fondo-1: #252839;
$color-fondo-2: #1f1a20;
$color-text-play: #fde500;
$color-text-white:#ffffff;
$color-text-gren:#f5ec6b;
$color-text-red:#f00317;
$color-circle:#ffea0f;
$color-text-black:#000000;
$color-hand:#dfb446;