$font-size-title: 8rem; // TODO: Organizarlo en las direntes pantallas u otra estrategia

$font-play:'PlayStation',sans-serif;
$font-marvel:'marvel',sans-serif;
$font-ps:'ps',sans-serif;
$font-roboto:'roboto',sans-serif;