.magazine{
    aspect-ratio: 1 / 1.51; // ancho / alto
    color: $color-blanco;
    background-color: $color-fondo;
    margin: 2rem;
    text-transform: uppercase;
    width: min-content;
    font-weight: bolder;
    

}





// h1{
//     font-size: 8rem;
//     text-align: center;
//     line-height: 0%;
//     margin-top: 38px;

// }