@use '../utils' as *;

/**
 // Metodología BEM
 .block {
   &__entity {...}

	 &__entity {
	   &--modifier {...}
	 }

	 &--modifier {...}

	 .block__entity

	 .block--modifier

	 .block__entity--modifier
**/
.games{
	font-family: $font-roboto;
	text-transform: uppercase;
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-template-rows: 60px 110px;
	top: 3%;
	

section:nth-child(2) {
	grid-column: 3;
	font-size: 5px;
	margin-right: 12%;
	display:flexbox;
	font-weight: bold;
	text-align: -webkit-right;
	
	p:nth-child(even){
		background-color: $color-text-red;
		color:$color-text-white;	
		width: fit-content;
		margin-top: 1%;
		align-content: baseline;
	}
	p:nth-child(odd){
	background-color: $color-text-play;
	width: fit-content;
	margin-top: 1%;
	font-family: $font-roboto;
	align-content: baseline;
	}
}

section:nth-child(1){	
	h6{
		font-size: 6px;
		color: $color-text-white;
		text-align: center;
		font-weight: 900;		
	}
	h2:nth-child(odd){
		color:$color-text-white;
		font-weight: 650px;		
	}
	
	text-align: center;
	font-weight: 700;
	font-size: 9px;
	color: $color-text-play;
	grid-row:1/3;
	grid-column: 2;
	margin-top: 50%;
	width: 41%;
	margin-left: -25%;
	
	
}

section:nth-child(3){
	grid-column: 3;
	grid-row:2;
	color: $color-text-black;	
	font-size: 6px;	
	margin-top: 0%;
	margin-left: 37%;
	font-weight: bold;
	transform: rotate(8deg);
	h2{	
		font-size: 8px;
	}
	p{	
		font-size: 9px;	
		color:$color-text-red;
	}

	li{
	font-size: 5px;
	list-style-type:circle;
	list-style-position:inside;
	
	}
	li:nth-child(odd){
		color: $color-text-red;
	}
	
}

section:nth-child(4){
	grid-row:3;
	grid-column: 1/4;
	text-align: center;
	font-weight: $font-roboto;
	
	h4{
		font-family: $font-marvel;
		color:$color-text-white;
		background-color: $color-text-red;
		font-size: 25px;
		margin-left: 51%;
		margin-bottom: -2%;
		width: fit-content;
		height:fit-content;
		
	}
	h2{
		
		color:$color-text-white;
		font-size: 3.3cm;
		font-family: $font-spider;
		margin-left: 0%;
		margin-bottom:-9%;
	}

	p:first-of-type{
	font-family: $font-miles;
	color:$color-text-red;
	font-size: 1.2cm;
	text-align:inherit;
	font-weight: bold;
	background-color:inherit;
	margin-inline:10%;
	}

	p{
		background-color: $color-circle;
		margin-inline: 17%;		
		font-size: 8px;
		font-weight: bold;
		width:fit-content;
		
	}
	
	
}

.circle{
	background: $color-circle;
	border-radius: 50%;
	width: 51px;
	height: 51px;
	justify-content: center;
	text-align: center;
	display: flex;
	padding: 5%;
	border:$color-text-black 2px solid;
	margin-left: -55%;
	margin-top: -40%;
	}	
}
