@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "PlayStation";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/playstation_by_lyricwest_dby5il4.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "marvel";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/MarvelRegular-Dj83.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "miles";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/CombackHomeRegular-jEMd9.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "spider-man";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/Spider-Man.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "ps";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/TheRaveIsInYourPants-YxxO.ttf");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "roboto";
  src: url("/diegolsg/2-preprocessor-sass/assets/fonts/EmotionEngineBold-YGnL.ttf");
  font-weight: 200;
  font-display: swap;
}
/**
 // Metodología BEM
 .block {
   &__entity {...}

	 &__entity {
	   &--modifier {...}
	 }

	 &--modifier {...}

	 .block__entity

	 .block--modifier

	 .block__entity--modifier
**/
.games {
  font-family: "roboto", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: 60px 110px;
  top: 3%;
}
.games section:nth-child(2) {
  grid-column: 3;
  font-size: 5px;
  margin-right: 12%;
  display: flexbox;
  font-weight: bold;
  text-align: -webkit-right;
}
.games section:nth-child(2) p:nth-child(even) {
  background-color: #f00317;
  color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1%;
  align-content: baseline;
}
.games section:nth-child(2) p:nth-child(odd) {
  background-color: #fde500;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1%;
  font-family: "roboto", sans-serif;
  align-content: baseline;
}
.games section:nth-child(1) {
  text-align: center;
  font-weight: 700;
  font-size: 9px;
  color: #fde500;
  grid-row: 1/3;
  grid-column: 2;
  margin-top: 50%;
  width: 41%;
  margin-left: -25%;
}
.games section:nth-child(1) h6 {
  font-size: 6px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
}
.games section:nth-child(1) h2:nth-child(odd) {
  color: #ffffff;
  font-weight: 650px;
}
.games section:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
  color: #000000;
  font-size: 6px;
  margin-top: 0%;
  margin-left: 37%;
  font-weight: bold;
  transform: rotate(8deg);
}
.games section:nth-child(3) h2 {
  font-size: 8px;
}
.games section:nth-child(3) p {
  font-size: 9px;
  color: #f00317;
}
.games section:nth-child(3) li {
  font-size: 5px;
  list-style-type: circle;
  list-style-position: inside;
}
.games section:nth-child(3) li:nth-child(odd) {
  color: #f00317;
}
.games section:nth-child(4) {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  font-weight: "roboto", sans-serif;
}
.games section:nth-child(4) h4 {
  font-family: "marvel", sans-serif;
  color: #ffffff;
  background-color: #f00317;
  font-size: 25px;
  margin-left: 51%;
  margin-bottom: -2%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.games section:nth-child(4) h2 {
  color: #ffffff;
  font-size: 3.3cm;
  font-family: "spider-man", sans-serif;
  margin-left: 0%;
  margin-bottom: -9%;
}
.games section:nth-child(4) p:first-of-type {
  font-family: "miles", sans-serif;
  color: #f00317;
  font-size: 1.2cm;
  text-align: inherit;
  font-weight: bold;
  background-color: inherit;
  margin-inline: 10%;
}
.games section:nth-child(4) p {
  background-color: #ffea0f;
  margin-inline: 17%;
  font-size: 8px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.games .circle {
  background: #ffea0f;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 5%;
  border: #000000 2px solid;
  margin-left: -55%;
  margin-top: -40%;
}

.magazine {
  background-color: #1f1a20;
  background: linear-gradient(0deg, #252839 20%, #1f1a20 50%);
  margin: 8rem;
  padding-bottom: 5%;
  width: -moz-min-content;
  width: min-content;
}
.magazine ul > p {
  display: flex;
  padding-inline: 4%;
  padding-block: 2%;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.magazine ul > p:last-child {
  font-family: "PlayStation", sans-serif;
  font-weight: 900;
  font-size: large;
}
.magazine ul:first-child {
  color: #ffffff;
  font-family: "ps", sans-serif;
  font-size: 13px;
  background-color: #000000;
  width: 100%;
  display: flex;
}
.magazine__title {
  color: #fde500;
  font-size: 2cm;
  font-family: "PlayStation", sans-serif;
  display: flex;
}
.magazine__title span {
  position: relative;
}
.magazine .sub1 {
  display: flex;
  font-size: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin-top: -5%;
  padding-right: 40%;
  margin-right: 5%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.magazine .sub2 {
  display: flex;
  font-size: 12px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffffff;
  margin-top: -5%;
  font-weight: 800;
  margin-left: 40%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.magazine__title span:first-of-type {
  z-index: 3;
}
.magazine__title span:last-of-type {
  z-index: 1;
}
.magazine img {
  position: absolute;
  z-index: 2;
  position: absolute;
  z-index: 2;
  left: 5rem;
  top: 9.4rem;
  width: 22rem;
}
.magazine > article {
  z-index: 4;
  position: relative;
}

body {
  width: 500px;
  font-weight: 100;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */