@use '../utils' as *;

.magazine {
    background-color:$color-blue;
	margin: 1rem;
	padding: 1rem;
	text-transform: uppercase;
	width: min-content;

	&__title {
        font-size: 200px;
		text-align: center;
		font-family: "Playfair Display", serif;
		position: relative;
		z-index: 0;
	}
	img {
		position: absolute;
		margin-left: 50px;
		z-index: 5;
		left: -3.5rem;
        top: 2.813rem;
		width: 590px;
	}
	>article{
		position: relative;
	}
	.codigo{
		width: 70px;
		position: relative;
		padding: 30px;
		margin-left: 2rem;
		padding-top: 0;
		
	}

}