@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-familiy-title: "Playfair Display", serif;
$font-familiy-secundaria: "Roboto", serif;
$font-family-content: "Oswald", sans-serif;
$font-family-athlete: "Bebas Neue", sans-serif;