$myColor: white;
$textColor: black;
$articlebackground: aquamarine;

$marginleft: 600px;
$marginleft1: 500px;
$marginleft2: 960px;
$fontweight: 500;
$fontfamily: "DM Serif Text", serif;
$fontsize: 60px;
