body{
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(225, 210, 247);
    text-align: justify;
}

img{
    width: 300px;
    height: 300px;
    align-items: center;
    color: #8a2dbd; 
    border-radius: 70px;
    
}

.p0{
    align-items: center;
    display: flex;
    }
    
   
        body {
            margin:auto;
            width: 640px; 
            padding: 50px;
            font-family: 'arial', sans-serif; 
            color: #160320;  
    }

.pt{
    text-align: center;
}

h1{
    font-style: "italic";
    text-align: center;
}
.p1{
    text-align: center;
}
h2,h4 {
    text-align: center;
}


footer{
    padding-top: 50px;
    text-align: center;
}

