//Typography variables

$font-vogue: 'Vogue', 'Times New Roman', Times, serif;
$font-poppins: 'Poppins', sans-serif;

//Color palette

$color-white: #fefefe;
$color-brown: #433930;
$color-light-brown: #867c72;