

  body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    padding: 0;
    background-color: #a9e2ff;
    color: #000000;
}

header {
    background-color: #54e4e9;
    padding: 20px 0;
}


.inicio {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: #1114e2;
}

h1 {
   text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
h2 {
    text-align: left;
    margin-bottom: 20px;    
}
p{
  text-align: justify;
}

.sellopersonal {
  margin: 30px; 
  padding: 30px; 
}

.familia {
  position: absolute;
  top: auto;
  left: 530px;
  width: 200px;
  height: 150px;
}
.imagen{
  position: absolute;
  top: auto;
  left: 780px;
  width: 200px;
  height: 150px;
}
.imagen1{
  position: absolute;
  top: auto;
  left: 280px;
  width: 200px;
  height: 150px;
}
.imagen2{
  position: absolute;
  top: auto;
  left: 30px;
  width: 200px;
  height: 150px;
}
nav ul {
  list-style: none; 
  margin: 50px; 
  padding: 0; 
  background-color: #0c4fb3;
}

nav li {
  display: inline-block; 
  margin-right: 10px; 
  background-color: #0c4fb3;
}

nav a {
  text-decoration: none; 
  color: rgb(0, 0, 0); 
  font-weight: bold; 
  background-color: #0c4fb3;
  margin-right: 60px; 
}

nav a:hover { 
  color: #54e4e9; 
  background-color: #54e4e9;
  margin-right: 60px; 
}

.section {
    padding: 40px 0;
}

img {
    width: 30;
    height: auto;
    margin-bottom: 10px;
}

.perfil{
  position: absolute;
  top: 130px;
  left: 530px;
  width: 200px;
  height: 150px;
  background-color: #a9e2ff;
  border: 2px solid #0c4fb3;
  margin: 10px;
}

.experience {
    background-color: #54e4e9;
    color: #000000;
    padding: 5px 5;
    text-align: center;
}

#botoninicio {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  padding: 10px 20px; 
  background-color: #0c4fb3; 
  color: rgb(0, 0, 0); 
  cursor: pointer; 
  opacity: 0.7; 
  transition: opacity 0.5s; 
}
#botoninicio { 
  opacity: 1; 
}


.slider-container {
  display: 10%;
  width: 30%;
  height: 155vh;
  overflow-x: scroll;
}

.slider-container {
  scroll-snap-type: x mandatory;
}

.imgslide {
  flex: 30%;
  width: 180px;
  object-fit: cover;
}
.imgslide {
  scroll-snap-align: center;
}
ul.navega li {
  list-style: none;
  display: inline;
  padding-right: 0.5em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.deporte {
  float: left;
    width: 100%;
  grid-column: 1 ;
  margin: 10px;
  background-color: #54e4e9;
}
.familytime {
    float: center;
    width: 100%;
    grid-column: 2 ; 
    margin: 10px; 
  background-color: #54e4e9;
}
.leer {
  float: right;
    width: 100%;
  grid-column: 3;
  margin: 10px;
  background-color: #54e4e9;
}

.deporte, .familytime, .leer {
  width: 100%;
  height: auto;
  float: left;
  margin: 10px;
 
  }

#aprender > ul {
	display: flex;
	overflow-x: auto;
	scrollbar-width: thin;
  margin: 5px;
  background-color: #54e4e9;
}

#aprender > ul > li {
	margin: 1rem;
}

#aprender > ul > li:first-child {
	margin-left: 0.5rem;
}

#aprender > ul > li:last-child {
	margin-right: 0.5rem;
}
 
 footer {
  background-color: #0c4fb3;
  color: #fff;
  padding: 5px 5;
  text-align: center;