body {
	background-color: rgba(175, 230, 173, 0.897);
  }
  
  * {
    text-align: center;
    color: rgba(17, 1, 1, 0.89);
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
  }

  h1 {
  background-color: rgba(0, 255, 255, 0.603);
  padding: 10px 50px 30px 0;
  font-family: Tahoma, Verdana, sans-serif;
	color: rgba(255, 255, 255, 0.918);
	text-align: center;
  font-size: 50px;
  text-decoration-line: underline;
  }

  h2 {
    background-color: rgba(0, 255, 255, 0.603);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline
  }

  p {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    text-align: center
    }


    img {
      border: 1px solid #dddddd;
      border-radius: 10px;
      padding: 10px;
      width: 0px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      
    }
    
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

  
  
  h3 {
    background-color: rgba(0, 255, 255, 0.603);
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline
  }


  h4 {
    background-color: rgba(0, 255, 255, 0.603);
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration-line: underline
  }

  h5 {
    background-color: rgba(0, 255, 255, 0.705);
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration-line: underline
  }

  article{
    background-color: rgba(0, 255, 255, 0.603);
    color: white;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 40px;
    text-align: center
    

  }
  
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }

  .cards {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aprende {

    width: 320px;
    padding: 20px;
    box-shadow: 1px 1px 5px rgb(241, 241, 241);
    border: solid rgba(3, 133, 255, 0);
  }
.aprende:hover{

  border: solid rgb(rgba(0, 255, 213, 0.452), green, blue);
}
  .imagen{

    width: 30%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-30deg);
  }
