$font-size-m: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.5rem;
$font-size-extra-1: 2rem;
$font-size-extra-2: 3rem;
$font-size-extra-3: 4rem;
$font-size-extra-4: 8rem;

$font-vogue: 'Vogue', 'Times New Roman', Times, serif;
$font-roboto: 'Roboto', sans-serif;

$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
$box-shadow-deep: 0px 15px 20px -3px rgba(0, 0, 0, 0.2);
