#expectation {
  background-color: rgb(219, 216, 231);
}

.cards_container {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
.cards_container li {
  display: inline-block;
  margin: 20px;
}
.card {
  max-width: 310px;
  min-width: 300px;
  height: 500px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 30px gray;
}

.card h4 {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #ff2800;
  text-align: center;
  margin: 6px;
}

.card img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 12px 12px 0px 0px;
}

.card p {
  padding: 12px;
}
