:root {
  --color-white: #fff;
  --color-red: #ff2800;
  --color-orange: #ff7f00;
  --color-yellow: #fbb315;
  --color-pink: #ff1493;
  --color-purple: #800080;
  --color-blue: #000033;
  --color-shadows: #bababa;
  --color-background: #dbd8e7;
}
