#hero_name {
  min-height: 720px;
  background-color: #000033;
  display: block;
  align-items: center;
  justify-content: center;
}

.logo-rog_container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.logo-rog {
  width: 90px;
  position: relative;
  padding: 30px;
}

.texto_1 {
  font-family: "Amiko", sans-serif;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  color: #fbb315;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.btn_about {
  text-decoration: none;
  cursor: pointer;
  font-family: "Amiko", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #ff2800;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin: 200px -20px 10px;
  width: 250px;
}

.btn_about:hover {
  color: #fff;
  background-color: #ff2800;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin: 200px -20px 10px;
  align-items: baseline;
  width: 250px;
}

/*inicio texto animado */

.animated_text {
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  color: #ff2800;
}

.animated_text span {
  position: relative;
}

.animated_text ::before {
  content: "Diseñador gráfico";
  animation: words 9s infinite;
}
@keyframes words {
  0%,
  25% {
    content: "DISEÑADOR GRÁFICO";
  }
  26%,
  50% {
    content: "DISEÑADOR UX";
  }
  51%,
  75% {
    content: "MOTION GRAPHER";
  }
  76%,
  100% {
    content: "APRENDIZ FRONTEND";
  }
}

/* fin texto animado */
