#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.text-profile {
  max-width: 500px;
  padding: 20px;
}

.text-profile h3 {
  text-align: left;
  margin-bottom: 6px;
}

.image-profile {
  margin: 10px;
}
.image-profile img {
  width: 200px;
  border-radius: 50%;
}
