#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.text_profile {
  max-width: 500px;
  padding: 20px;
}

.text_profile h3 {
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  font-size: 27px;
  margin-bottom: -10px;
}
.text_profile p {
  font-family: "Amiko", sans-serif;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
}
.image_profile {
  margin: 10px;
}
.image_profile img {
  width: 200px;
  border-radius: 50%;
}
