#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.text_profile {
  max-width: 500px;
  padding: 20px;
}

.text_profile h3 {
  text-align: left;
  margin-bottom: 6px;
}

.image_profile {
  margin: 10px;
}
.image_profile img {
  width: 200px;
  border-radius: 50%;
}
