/* :root ;
 */
h3 {
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  font-size: 27px;
  text-align: center;
  padding-top: 15px;
}

p {
  font-family: "Amiko", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
}
