
#titulo {
    color: rgb(119, 50, 184);
    font-size: 30px;
}

.texto-1{
    color: blue;
}

#sub-titulo{
    color: salmon
}

*{
    font-size: 24px;
}
/*
.color{
    color: #5e2222;
}

.color{
    color: rgb(0, 255, 255)
}
*/
.color{
    /*border: 5px slateblue outset;*/
    /*
      dotted
      dashed
      solid
      double
      -groove
      ridge
      inset
      outsed- (tridimencionales
      none
      hidden
    */
    border-style: outset;
    border-color: blue;
    border-radius: 5px;
    border-width: 5px;
}

#fondo {
    background-color: rgba(255, 45, 223);
    /* opacity: 0.3; */
    height: 200px;

    background: #f00 url(Imagen\ de\ WhatsApp\ 2024-05-24\ a\ las\ 21.34.38_cc326841.jpg) repeat-y center bottom / 100px 100px;
    background-size: 100px 100px;
}  

.margen{
    background-color: chocolate;
    margin: 15px;
    padding: 30px 15px 5px;
    border: solid 1px black;
    height: 200px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}
.text{
    font-family: "Roboto", sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue;
}

a:link{
    color: blueviolet;
}

a:visited{
    color: gray;
}

a:hover{
    color: yellow;
}

a:active{
    color: red;
}

a{
    font-size: 30px;
}

ul{
    background-color: aqua;
    list-style-type: georgian;
    /*padding-left: 0;*/
    /*list-style-position: inside;*/
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 1px #eee;
    padding: 5px;
}

th{
    background-color:tomato ;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #aaa;
    cursor: pointer;
}

span{
    display: block;
    /*display: none;*/
    /*visibility: hidden;*/
    max-width: 300px;
    background-color: red ;
}

.inline{
    display:inline ;
}

#position{
    position: sticky;
    left: 20px;
    top: 25px;
}

.left{
    float: left;
    width: 200px;
    height: 200px;
}

.right{
    float: right;
}

.container{
    height: 200px;
}

.column{
    /*border: solid 0 #ddd;
    border-radius: 5px;*/
    margin: 0;
    padding: 10px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;
    height: 55px;
    background-color: red;
}

.center{
    padding: 50px 0;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
}