@use '../utils' as *;

.magazine {
	background-color: $color-back1;
	color: $color-black;
	margin: 2rem;
	padding: 1rem;
	
	

	&__title {
        color: $color-blue-h2;
		font-size: $font-size-title;
		text-align: center;
		font-family: $font-anton;
		line-height: 0.9;
		position: relative;
		z-index: 0;
	}

	&__title span {
		position: relative;
        color: $color-blue;
	}

    img {
		position: absolute;
		z-index: 2;
        left: 2rem;
        top: -3rem;
        width: 40rem;
	}

	article {
		position: relative;
	}

	   
}