$bright-pink-crayola: #ef476fff;
$sunglow: #ffd166ff;
$emerald: #06d6a0ff;
$blue-ncs: #118ab2ff;
$midnight-green: #073b4cff;

$seasalt: #f8f9faff;
$antiflash-white: #e9ecefff;
$platinum: #dee2e6ff;
$french-gray: #ced4daff;
$french-gray-2: #adb5bdff;
$slate-gray: #6c757dff;
$outer-space: #495057ff;
$onyx: #343a40ff;
$eerie-black: #212529ff;

$color-background: $seasalt;
$color-primary: $midnight-green;
$color-secondary: $blue-ncs;
$color-accent: $sunglow;

$color-error: $bright-pink-crayola;
$color-success: $emerald;
$color-disabled: $slate-gray;

$color-font: $onyx;
$color-font-invert: $antiflash-white;
